#baner{
    background-color: #829EB9;
    height: 50px;
    text-align: center;
    font-family: Arial;
}
#panel_lewy{
    background-color: #B3C6D9;
    height: 600px;
    width: 25%;
    float: left;
}
#panel_prawy{
    background-color: #E0E9F1;
    height: 600px;
    width: 75%;
    float: left;
}
#stopka{
    clear: both;
    background-color: #829EB9;
    font-family: Arial;
    text-align: right;
}
img{
    margin: 30px;
    padding: 10px;
    border: 2px dotted #B3C6D9 ;
}
table{
    margin: 30px;
    width: 70%;
    border-collapse: collapse;
}
table, tr, td{
    border: 2px solid;
}
td:hover{
    background-color: blue;
    color: white;
}
